@import '../../shared/styles/constants.css';

.mainSection {
  padding: 120px 0;
  background-color: var(--backgrond-color);
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
