:root {
  --backgrond-color: rgb(111, 209, 174, 0.3);
  --header-color: rgb(58, 219, 162, 0.5);
  --accent-color: #532fa7;
  --primary-text-color: #373737;
  --accent-text-color: #ebd8ff;
  --active-color: #5cd3a8;
}
